{% extends 'base.html.twig' %}
 
{% block title %}Nouveau mot de passe{% endblock %}
 
{% block body %}
    <div class="container">

    <h1 class="text-center mb-5">Réinitialisation du mot de passe</h1>

    <div class="col-12 mt-4 text-center">
        <img id="reset_img" src="{{ asset('img/PASSWORD/reset_password.png') }}" class="col-12" alt="Logo Mot de passe oublié" title="Logo Mot de passe oublié">
    </div>

        <form method="post">

            <div class="row">
                <div id="label_reset_mdp" class="col-12">
                    <label for="inputPassword">Veuillez entrer votre nouveau mot de passe :</label>
                </div>
                <div class="col-12">
                    <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Entrez votre nouveau mot de passe" required>
                    <span id="alertmdp"></span>
                </div>
                    <input type="hidden" name="token" value="{{ token }}">
            </div>

            <button type="submit" id="btn_reset" class="btn btn-primary">VALIDER LE MOT DE PASSE</button>   
        </form>

    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/reset_password_jquery.js') }}"></script>
{% endblock %}