<img src="{{ email.image('@images/logo_village.png') }}" alt="Logo">

<h1>Bienvenue {{ username }} !</h1>

<p>
    Nous vous confirmons votre inscription.
</p>

<p>
    Vous vous êtes enregistré(e) avec l'adresse email suivante :
</p>
<p><code>{{ email.to[0].address }}</code></p>