<form method="post" name="delete_product" action="{{ path('produit_delete', {'proId': produit.proId}) }}" onsubmit="confirmDeleteProduct()">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ produit.proId) }}">
    <button class="btn btn-danger float-right" id="btn_supprimer">Supprimer</button>
</form>

<script src="{{ asset('js/script.js') }}"></script>