{% extends 'base.html.twig' %}

{% block title %}Ajout de produit(s){% endblock %}

{% block body %}
    <div class="container">
    
        <h1 class="text-center">Ajouter un nouveau produit</h1>

        <div class="col-12 mt-4 text-center">
        <img id="new_product" src="{{ asset('img/produits/new_product4.png') }}" class="col-12" alt="Logo Mot de passe oublié" title="Logo Mot de passe oublié">
        </div>

        {{ include('produit/_form.html.twig') }}

    </div>
{% endblock %}
