{% extends 'base.html.twig' %}
{% block title %}
    Mes adresse
{% endblock %}
{% block body %}
    <div class="container">
        <h1>Ajouter une adresses</h1>
        <a href="{{ path('adresse') }}">Retour</a>
        <hr>
    {{ form(form) }}
    </div>
{% endblock %}



