{% extends 'base.html.twig' %}
{% block title %}
Mes adresses
{% endblock %}
{% block body %}
    <div class="container">
        <h1 style="margin-bottom: 50px; text-align: center;">Ajouter une adresse</h1>
        <a type="button" class="btn btn-secondary" href="{{ path('adresse') }}">RETOUR</a>
        <a href="{{ path('cart') }}" style="margin-left: 10px;" class="btn btn-primary">MON PANIER</a>
        <hr>
    {{ form(form, {'attr' : { 'novalidate': 'novalidate' }}) }}
    </div>
{% for message in app.flashes('success') %}
    <div class="alert alert-success ml-2 mr-2">
        {{ message }}
    </div>
{% endfor %}
{% endblock %}