{% extends 'base.html.twig' %}

{% block title %}Méthode non autorisée{% endblock %}

{% block body %}
    
    {# Page visible en tapant l'url https://127.0.0.1:8000/_error/405 #}
    {# Toujours supprimer le dossier prod qui se trouve dans le chemin var/cache avant de faire le test en prod #}

    <div class="col-12 mt-4 mb-4 text-center">
        <img id="img_error405" src=" {{ asset('img/ERRORS/IMG_1881.jpg') }}" alt="img error405" title="img error405" />
    </div>

    <div id="error405" class="error col-12 pt-4 pb-4 text-center">
    <a href="{{ path('home') }}">Revenir à l'accueil
    </div>

{% endblock %}